/* BLOG
======================*/

    .blog {
        margin-bottom: 60px;
        
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 15px;
        margin-top:-4px;
        margin-left: 2px;
        text-transform: uppercase;
    }
        
    &__select {
        margin-bottom: 50px;
        margin-left: 1px;
        margin-top: -1px;
    }
        
    &__arrow {
        margin: 0 20px;
        margin-left: 18px;
    }
        
    &__way-link{
        font-family: 'Crimson Text', serif;
        font-style: italic;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: #1E0606;
        opacity: 0.5;
        margin-left: 4px;
        text-decoration: none;
    }
        
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
        
    &__link{
        display: block;
        height: 100%;
        color: #000;
        text-decoration: none;
    }
        
    &__item {
        width: 380px;
        margin-left: 20px;
        
    &:first-child{
        margin: 0;
    }
       
    &:nth-child(4){
       margin-left: 0;
    }
}
    &__date {
        margin-bottom: 7px;
        color: #818181;
    }
        
    &__subtitle {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        margin-top: 0;
        margin-bottom: 15px;
        color: #1E0606;
            &:hover{
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
    }
    &:active{
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
    }
}
    &__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 13px;
        margin-top: 0;
        padding-bottom: 20px;
    }
        
    &__select-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
        margin-bottom: -12px;
    }
        
    &__btn{
        position: absolute;
        top: 14px;
        left: 0;
        width: 18px;
        height: 30px;
        background-image: url("/static/images/svg/blog-left.svg");
        padding-top: 13px;
        border: 0;
        background-color: #fff;
        cursor: pointer;
        outline: 0;
        
    &:hover{
        background-image: url("/static/images/svg/Vector%20-on.svg");
        -webkit-transform: matrix( -1, 0, 0, 1, 0, 0);
            -ms-transform: matrix( -1, 0, 0, 1, 0, 0);
                transform: matrix( -1, 0, 0, 1, 0, 0);
    }
        
    &:active{
         opacity: 0.5;
    }
             
        
    &--active{
        left: 1163px;
        background-image: url("/static/images/svg/blog-right.svg");
        
            
    &:hover{
        background-image: url("/static/images/svg/Vector%20-on.svg");
        -webkit-transform: matrix(  1, 0, 0, 1, 0, 0);
            -ms-transform: matrix(  1, 0, 0, 1, 0, 0);
                transform: matrix(  1, 0, 0, 1, 0, 0);
        
   }
}        
  
}
    
    &__number{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-right: 64px;
        text-decoration: none;
        color:#000;
        
    &:hover{
        opacity: 0.5;
        transition: opacity .5s ease .2s;
    }
        
    &--one{
        text-decoration: none;
        color: #c29974;
    
    }
}
    &__list-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        margin-top: 19px;
        margin-left: 436px;
    }

    
}








