<div class="blog__card">
       <a class="blog__card-link" href="@@link"> 
       
         <picture class="blog__card-img">
         
         <source srcset="/static/images/blog/@@imgMobile, /static/images/blog/@@imgMobile2x " media="(max-width:740px)">
         <source srcset="/static/images/blog/@@imgTablet, /static/images/blog/@@imgTablet2x " media="(max-width:1023px)">
          <img  src="/static/images/blog/@@img" srcset="/static/images/blog/@@img, /static/images/blog/@@img2x 2x" alt="@@alt">
           </picture>
           
          
            <p class="blog__card-date">@@date</p>
              <h4 class="blog__card-title">@@title</h4>
                <p class="blog__card-text">@@text</p>
         </a>
    </div>  