
       <a class="blog__card" href="@@link" aria-label="Go to learn more" title="learn more"> 
       
                 <picture >
                    <source srcset="/static/images/blog/@@imgMobile 335w, /static/images/blog/@@imgMobile2x 670w" media="(max-width:500px)" sizes="335px">

                    <source srcset="/static/images/blog/@@imgMobile-min 280w, /static/images/blog/@@imgMobile-min-2x 560w" media="(max-width:1121px)" sizes="280px">

                    <img class="blog__card-img" src="/static/images/blog/@@img" srcset="/static/images/blog/@@img, /static/images/blog/@@img2x 2x" alt="@@alt">
                </picture>
                
           <time class="blog__card-date" datetime="@@date">@@date</time>
              <h4 class="blog__card-title">@@title</h4>
                <p class="blog__card-text">@@text</p>
        </a>
