@import "../../components/media.scss";

/*CATALOG
==================*/
    .catalog{
        
    &__list {
        display: flex;
        flex-wrap:wrap;
        margin-bottom: 56px;
        padding: 0;
        list-style: none;
        
        
    @media screen and (max-width: $md) {
    
        margin-bottom: 20px;
       }
        
    @media screen and (max-width: $sm) {
        padding: 0 20px;
        margin-bottom: 20px;
       }
        
    @media screen and (max-width: $xs) {
        margin-bottom: 10px;
       }
    }
        
     &__descript{
        width: 980px;
        margin-left: 200px;
        margin-bottom: 55px;
         
         
    @media screen and (max-width: 1350px) {
        width: auto;
        margin-left: 0;
        margin-bottom: 50px;
    }
         
    @media screen and (max-width: 740px) {
        
        padding: 0 20px;
      }
//     
//         
//    @media screen and (max-width: 700px) {
//        width: 100%;
//        
//      }
         

    }
            
    &__title-two{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        margin-top: -5px;
        margin-bottom: 25px;
        text-transform: uppercase;
        
    @media screen and (max-width: $md) {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 20px;
         }
        
     @media screen and (max-width: $sm) {
         font-size: 24px;
         line-height: 29px;
         margin-bottom: 15px;
      }
        @media screen and (max-width: 320px) {
         font-size: 18px;
         line-height: 29px;
         margin-bottom: 15px;
      }
        


    }
        
     &__subtext{
         padding-right: 0;
         margin-right: 0;
         
     @media screen and (max-width: $md) {
            width: 648px;
            font-size: 16px;
            line-height: 22px;
         }
     @media screen and (max-width: 765px) {
        width: 100%;
        
      }
//    @media screen and (max-width: 700px) {
//       width: 550px;
//        
//      }
//         
//     @media screen and (max-width: 640px) {
//            width: 500px;
//         }
//         
//     @media screen and (max-width: 600px) {
//            width: 450px;
//       
//      }
//         
//     @media screen and (max-width: 540px) {
//            width: 400px;
//         }
//         
//     @media screen and (max-width: 450px) {
//            width: 335px;
//         }
//         
//     @media screen and (max-width: 400px) {
//            width: 335px;
//         }
//         @media screen and (max-width: 320px) {
//            width: 275px;
//         }
//         @media screen and (max-width: 280px) {
//            width: 237px;
//         }
    }
    
}



