/*CATALOG
==================*/
.catalog{
    &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    margin-top: -5px;
    text-transform: uppercase;
}
    &__title-two{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin-top: -5px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
    &__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -12px;
    margin-bottom: 50px;
    padding-left:1px;
}
    &__way-link{
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    opacity: 0.5;
    text-decoration: none;
}
    &__arrow {
    margin: 0 20px;
}
    &__block-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    margin-bottom: 56px;
    padding: 0;
    list-style: none;
}
    &__sub{
  width: 190px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}
    &__descript{
    width: 680px;
    margin-left: 200px;
    margin-bottom: 55px;
}
    &__sub-text{
    margin-bottom: 0;
    margin-top: -2px;
}
    
}
.services{
 &__catalog-item {
     min-width: 280px;
     min-height: 270px;
     margin-bottom: 20px;
     margin-right: 20px;
     list-style: none;
     &:nth-child(4){
    margin-left: 200px;
  }
}
}



