/*CONTACT
=================*/
.contact{
    margin-bottom:60px;
}
.contact__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
    margin-top: -5px;
    text-transform: uppercase;
}
.contact__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    margin-left: 2px;
}
.contact-link{
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    opacity: 0.5;
    text-decoration: none;
}
.contact__arrow {
    margin: 0 20px;
}
.contact__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contact__form{
    width: 680px;
    padding: 42px 40px;
    background-color: #E5EAF8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 20px;
}
.contact__item-name{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 3px;
}
.contact__line-name {
    width: 100%px;
    height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 0;
}
.contact__line-name:hover{
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__line-name:active{
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__line-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 43px;
}
.contact__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding-top: 1px;
}
.contact__item-phone{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 3px;

}
.contact__line-phone {
    width: 290px;
    height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
    outline: 0;
}
.contact__line-phone:hover{
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__line-phone:active{
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding-top: 1px;
}
.contact__item-email{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 3px;

}
.contact__line-email {
    width: 290px;
    height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
     outline: 0;
}
.contact__line-email:hover{
    border:2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__line-email:active{
    border:2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 18px;
}
.contact__item-message{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 6px;
    margin-top: -23px;
}
.contact__line-text {
    width: 600px;
    height: 150px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 0;
}
.contact__line-text:hover{
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__line-text:active{
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact__consent {
    margin-bottom: 17px;
}
.contact__checkbox-input{
    display: none;
}

.contact__consent-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding-left: 36px;
    position: relative;
}
.contact__consent-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    background-color: #e5eaf8;
}
.contact__consent-text::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background-image: url("/static/images/svg/contact-on.svg");
    background-color: #fff;
    opacity: 0;
}
.contact__checkbox-input:checked +
.contact__consent-text::after{
    opacity: 1;
}
.contact__button {
    width: 106px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    color: #FFF;
    border: 0;
    cursor: pointer;
}
.contact__button:hover{
    background-color: #C29974;
}
.contact__button:active{
    background-color: #CFAF91;
}
.contact__descript{
    width: 380px;
    
}
.contact__text{
    margin-top: 0;
    margin-bottom: 20px;
}
.contact__subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #C29974;
    margin-top: 0;
    text-transform: uppercase;
}