/*CONTACT
=================*/
.contact{
    margin-bottom:60px;
    &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
    margin-top: -5px;
    text-transform: uppercase;
}
    &__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    margin-left: 2px;
}
    &__way-link{
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    opacity: 0.5;
    text-decoration: none;
}
    &__arrow {
    margin: 0 20px;
}
    &__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
    &__form{
    width: 680px;
    padding: 42px 40px;
    background-color: #E5EAF8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
    &__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 20px;
}
    &__item-name{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 3px;
}
    &__line-name {
    width: 100%px;
    height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 0;
        &:hover{
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
        &:active{
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
        
}
   &__line-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 43px;
}
    &__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding-top: 1px;
}
    &__item-phone{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 3px;

}
    &__line-phone {
    width: 290px;
    height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
    outline: 0;
        &:hover{
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
        &:active{
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
}
    &__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding-top: 1px;
}
    &__item-email{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 3px;

}
    &__line-email {
    width: 290px;
    height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
     outline: 0;
        &:hover{
    border:2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
        &:active{
    border:2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
}
    &__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 18px;
}
    &__item-message{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 6px;
    margin-top: -23px;
}
    &__line-text {
    width: 600px;
    height: 150px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 0;
        &:hover{
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
        &:active{
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
}
    &__consent {
    margin-bottom: 17px;
}
    &__checkbox-input{
    display: none;
        &:checked +
        .contact__consent-text::after{
        opacity: 1;
     }
}
    &__consent-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding-left: 36px;
    position: relative;
        &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    background-color: #e5eaf8;
    }
        &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background-image: url("/static/images/svg/contact-on.svg");
    background-color: #fff;
    opacity: 0;
  }
}
    

    &__descript{
    width: 380px;
    
}
    &__text{
    margin-top: 0;
    margin-bottom: 20px;
}
    &__subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #C29974;
    margin-top: 0;
    text-transform: uppercase;
}
    
}









