
    <li class="catalog__item">
  
            <picture class="catalog__img">

            <source srcset="/static/images/catalog/@@imgMobile, /static/images/catalog/@@imgMobile2x " media="(max-width:740px)">
            <source srcset="/static/images/catalog/@@imgTablet, /static/images/catalog/@@imgTablet2x " media="(max-width:1023px)">
             <img   srcset="/static/images/catalog/@@img, /static/images/catalog/@@img2x 2x" alt="@@alt">
             </picture>

        <a class="catalog__link" href="@@href" title="Go to @@title-link"> 
          <h3 class="catalog__sub">@@title</h3>
         </a>
    </li>