<div class="toys__card">
   <a class="toys__card-link" href="@@link" aria-label="Click on Learn more" title="Learn more">
   <picture class="toys__card-img">
   <source srcset="/static/images/toys/@@imgMobile-min 119w, /static/images/toys/@@imgMobile-min-2x 240w" media="(max-width:359px)"
   sizes="119px">
    <source srcset="/static/images/toys/@@imgMobile 160w, /static/images/toys/@@imgMobile2x 320w" media="(max-width:740px)"  sizes="160px">
    <source srcset="/static/images/toys/@@imgTablet 203w, /static/images/toys/@@imgTablet2x 406w" media="(max-width:1023px)" sizes="203px">
     <img  src="/static/images/toys/@@img" srcset="/static/images/toys/@@img, /static/images/toys/@@img2x 2x" alt="@@alt">
     </picture>
    <div class="toys__learn-more">@@more</div>
        <h4 class="toys__card-title">@@text</h4>
        <p class="toys__card-price">$@@price USD</p> 
    </a>
</div>