<li class="toys__card">
   <a class="toys__card-link" href="@@link" aria-label="Click on Learn more" title="Learn more">
   <picture class="toys__card-img">
   
    <source srcset="/static/images/toys/@@imgMobile, /static/images/toys/@@imgMobile2x 2x" media="(max-width:740px)">
    <source srcset="/static/images/toys/@@imgTablet, /static/images/toys/@@imgTablet2x 2x" media="(max-width:1023px)">
     <img  src="/static/images/toys/@@img" srcset="/static/images/toys/@@img, /static/images/toys/@@img2x 2x" alt="@@alt">
     </picture>
    <div class="toys__learn-more">@@more</div>
        <h4 class="toys__card-title">@@text</h4>
        <p class="toys__card-price">$@@price USD</p> 
    </a>
</li>