<header class="header">
        <div class="container">
           
            <div class="header__wrapper">
                <a class="header__logo" href="/"><img class="header__img" src="/static/images/svg/dlk.svg" alt="Dlk-logo" title="Go to Home"></a>
                
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-link"><a class="link-nav" href="/pages/catalog" title="Go to Catalog">Catalog</a></li>
                        <li class="header__nav-link"><a class="link-nav" href="#" title="Go to About Us">About Us</a></li>
                        <li class="header__nav-link"><a class="link-nav" href="/pages/blog" title="Go to Blog">Blog</a></li>
                        <li class="header__nav-link"><a class="link-nav" href="/pages/animation" title="Go to Animation">Animation</a></li>
                        <li class="header__nav-link"><a class="link-nav" href="/pages/svg"  title="Go to Svg">Svg</a></li>
                        <li class="header__nav-link"><a class="link-nav" href="/pages/grid" title="Go to Grid">Grid</a></li>
                       </ul>
                </nav> 
                
                <div class="header__menu">
                <button class="header__menu-btn">Menu</button>
                  <svg class="header__menu-close header__menu-close--hidden" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path class="header__menu-icon" fill-rule="evenodd" clip-rule="evenodd" d="M0.707105 0L0 0.707105L7.07111 7.77821L4.6869e-05 14.8493L0.707151 15.5564L7.77821 8.48532L14.8492 15.5563L15.5563 14.8492L8.48532 7.77821L15.5563 0.707178L14.8492 7.33696e-05L7.77821 7.07111L0.707105 0Z" fill="#1E0606"/>
                       </svg>
                   </div>
                   

                        <button class="header__search">
                           <img class="header__search-icon" src="/static/images/svg/search.svg" alt="search-logo" width="18" height="18" title="Go to Search">
                            </button> 
                             
                              <a class="header__link" href="/pages/contact" title="Go to Contact Us">Contact Us</a>
                    
            </div>
      </div>
       
                    <nav class="header__mobile header__mobile--hidden">

                     <ul class="header__mobile-list">

                       <li class="header__mobile-item">
                         <a class="header__mobile-link" href="/pages/catalog" title="Catalog">Catalog</a>
                       </li>

                       <li class="header__mobile-item">
                         <a class="header__mobile-link" href="#" title="About us">About us</a>
                       </li>

                       <li class="header__mobile-item">
                         <a class="header__mobile-link" href="/pages/blog" title="Blog">Blog</a>
                       </li>

                       <li class="header__mobile-item">
                         <a class="header__mobile-link" href="/pages/animation" title="Animation">Animation</a>
                       </li>

                       <li class="header__mobile-item">
                         <a class="header__mobile-link" href="/pages/svg" title="Svg">Svg</a>
                       </li>
                       
                       <li class="header__mobile-item">
                         <a class="header__mobile-link" href="/pages/grid" title="Grid">Grid</a>
                       </li>

                       <li class="header__mobile-item">
                         <a class="header__mobile-link header__mobile-link--bold" href="/pages/contact" title="Contact us">Contact us</a>
                       </li>

                     </ul>

                     <div class="header__mobile-bg"></div>

                   </nav>
                   
      <audio autoplay controls src="https://ia801803.us.archive.org/19/items/samsung_20210111/samsung.mp4" >
           
          </audio>

      
      
    </header>