<header class="header">
        <div class="container">
           
            <div class="header__wrapper">
                <a class="header__logo" href="/"><img class="header__img" src="/static/images/svg/dlk.svg" alt="Dlk-logo" width="100" height="52"></a>
                
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-link"><a class="link-nav" href="/pages/blog">Blog</a></li>
                        <li class="header__nav-link"><a class="link-nav" href="/pages/catalog">Catalog</a></li>
                        <li class="header__nav-link"><a class="link-nav" href="#">About Us</a></li>
                    </ul>
                    
                    <div class="header__contact">
                    <a class="header__search" href="#"><img src="/static/images/svg/search.svg" alt="search-logo" width="18" height="18"></a> <a class="header__button" href="/pages/contact">Contact Us</a> </div>
                    
                </nav>
               
                
             </div>
             
        </div>
    </header>