/*Footer
==================*/

.footer {
    width: 100%;
    background-color: #434343;
    padding: 100px 0;
}
.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -2px;
    margin-left: 1px;
}
.footer__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 51px;
    position: relative;
    color: #AAAAAA;
}
.footer__title::before{
    content: "";
    position: absolute;
    top: 47px;
    left: 0;
    width: 380px;
    height: 2px;
    background-color: #666666;
}
.footer__list{
    padding-left: 0px;
    padding-top: 3px;
    margin-left: 2px;
    margin-bottom: 28px;
}
.footer__link {
    margin-bottom: 15px;
    color: #FFFFFF;
    list-style: none;
}
.footer__email {
    width: 299px;
    height: 40px;
    padding-left: 15px;
    margin-top: 1px;
    border: 0;
    background-color:#666;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.footer__email:hover{
    border: 1px solid #FFFDFD;
    
}
.footer__button-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 22px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: black;
    margin-left: -4px;
    text-transform: uppercase;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.footer__button-link:hover{
    background-color: #C29974;
}
.footer__button-link:active{
    background-color: #CFAF91;
}
.footer__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-top: 25px;
    margin: 0;
    list-style: none;
}
.footer__ic {
   margin-right: 10px;
}
.footer__link-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 29px;
    height: 29px;
    border: 1px solid #666666;
    border-radius:50%;
    background-color: #666666;
    margin: 0;
}
.footer__link-icon:hover{
opacity: 0.5;
}
.footer__link-icon:active{
opacity: 0.2;
}
.footer__svg{
    display: block;
    margin: auto;
}
.footer__svg:hover{
    opacity: 0.5;
}
.footer__svg:active{
    opacity: 0.2;
}
.footer__border-bottom{
    margin-bottom: 26px;
    width: 1180px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #666666;
}
.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-start;
    margin-top: 23px;
}
.footer__bottom-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__rating{
    position: relative;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    color: #fff;
    border: none;
}
.footer__rating-legend{
    position: absolute;
    top: -4px;
    left: -148px;
    width: 150px;
    margin-bottom: 0;
    padding: 0;
}
.footer__rating:hover{
    color: #C29974;
    cursor: pointer;
}
.footer__rating-grup{
    position: relative;
    width: 100px;
    height: 15px;
    margin-left: 147px;
    background-image: url(/static/images/svg/Star-off.svg);
    background-size:  20px 13px;
    background-repeat: repeat-x;
    background-color: #434343;
}
.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 15px;
    background-size: 20px 14px;
    font-size: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-repeat: repeat-x;
}
.rating__star:hover {
    background-image: url(/static/images/svg/Star-hover.svg);
    background-color: #434343;
    cursor: pointer;
}
.rating__star:checked {
    background-image: url(/static/images/svg/Star-activ.svg);
    background-color: #434343;
    cursor: pointer;
}
.rating__star:hover ~ .rating__star {
    background-image: url(/static/images/svg/Star-off.svg);
    background-color: #434343;
}
.rating__star:checked ~ .footer__rating-legend {
    color: #C29974;
}
.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 20px;
    margin-right: 2px;
    outline: 0;
}
.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 40px;
    outline: 0;
}
.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 60px;
    outline: 0;
}
.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 80px;
    outline: 0;
}
.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 100px;
    outline: 0;
}
.footer__title-link{
    color: #fff;
    text-decoration: none;
}
.footer__title-link:hover{
    color: #C29974;
}
.footer__bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-bottom: 14px;
    padding-left: 23px;
    list-style: none;
}
.footer__list-link{
    color: #fff;
    text-decoration: none;
}
.footer__list-link:hover{
    opacity: 0.5;
}
.footer__list-link:active{
    opacity: 0.2;
}
.footer__star-link{
    width: 17px;
    height: 17px;
    border:0;
    margin-left: 5.8px;
    background-repeat: no-repeat;
    background-size: 17px auto;
}
.footer__bottom-subtitle{
    margin-left: 30px;
    margin-top: 0;
    color: #fff;
}
.footer__title-web {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    padding-right: 81px;
    color: #AAAAAA;
}
.footer__title-web:hover{
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color:#fff;
}
