<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__navigation">
                <h4 class="footer__title">Navigation</h4>
                <ul class="footer__list">
                    <li class="footer__link"><a class="footer__list-link" href="#">About Us</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Blog</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Design Services</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Featured On</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">2018 Holiday Catalog</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Shop By Designer</a></li>
                </ul>
            </div>
            <div class="footer__customer">
                <h4 class="footer__title">Customer Information</h4>
                <ul class="footer__list">
                    <li class="footer__link"><a class="footer__list-link" href="#">Contact Us</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Sale Exclusions</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Shipping & Returns</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Terms & Conditions</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Privacy Policy</a></li>
                    <li class="footer__link"><a class="footer__list-link" href="#">Search</a></li>
                </ul>
            </div>
            <div class="footer__connect">
                <h4 class="footer__title">Connect</h4>
                <form class="footer__form" action="https://echo.htmlacademy.ru" method="post">
                  <input class="footer__email" id="email-input" type="email" placeholder="Email">
                    @@include("link/index.html", {
                        "class": "button__link",
                        "title": "JOIN",
                        "title-link": "Join",
                        "link": "https://echo.htmlacademy.ru"
                        })
                   
                </form>
                
                <ul class="footer__social ">

                 <li class="footer__social-item">
                   <a class="footer__social-link footer__social-link--facebook" href="#">Facebook</a>
                 </li>

                 <li class="footer__social-item">
                   <a class="footer__social-link  footer__social-link--twitter" href="#">Twitter</a>
                 </li>

                 <li class="footer__social-item">
                   <a class="footer__social-link  footer__social-link--pinterest" href="#">Pinterest</a>
                 </li>

                 <li class="footer__social-item">
                   <a class="footer__social-link  footer__social-link--instagram" href="#">Instagram</a>
                 </li>

               </ul>   
            </div>
        </div>
        <div class="footer__border-bottom"></div>
   <div class="footer__bottom">
    <div class="footer__bottom-rating">
       
       <fieldset class="footer__rating">
        
         <div class="footer__rating-grup">
          
           <span class="visually__hidden">Company Rating</span>
         
            <label class="visually__hidden" for="rating-terribly">Terribly</label>
            <input class="footer__rating-star" id="raiting-terribly" type="radio"  name="star" value="1">
            
            <label class="visually__hidden" for="rating-bad">Bad</label>
            <input class="footer__rating-star" id="raiting-bad" type="radio" name="star" value="2">
            
            <label class="visually__hidden" for="rating-normal">Normal</label>
            <input class="footer__rating-star" id="rating-normal" type="radio"  name="star" value="3">
           
            <label class="visually__hidden" for="raiting-good">Good</label>
            <input class="footer__rating-star" id="rating-good" type="radio"  name="star" value="4">
           
            <label class="visually__hidden" for="rating-excellent">Excellent</label> 
            <input class="footer__rating-star" id="rating-excellent" type="radio"  name="star" value="5">
          
           <div class="footer__rating-legend">Company Rating</div>
           
            </div>
         
        </fieldset>
        
      </div>  
        
    <p class="footer__bottom-subtitle">Copyright © 2018 Dlk • Design Life Kids</p>
   <a class="footer__title-link" href="#"><p class="footer__title-web">Web Design — Direct Line Development</p></a>
</div>
</div>
</footer>