.services__catalog-item {
     min-width: 280px;
     min-height: 270px;
     list-style: none;
}
.services__catalog-link{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
     -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
     text-decoration: none;
     width: 100%;
     height: 100%;
}
.services__catalog-img{
     position: absolute;
     z-index: -1;
 }

.services__catalog-sub{
     width: 190px;
     font-family: "Montserrat", "Arial", sans-serif;
     font-size: 26px;
     line-height: 32px;
     text-align: center;
     text-transform: uppercase;
     color: #ffffff;
     text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}
.services__catalog-sub:hover,
.services__catalog-sub:active{
     cursor: pointer;
     -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
     -webkit-text-decoration-color: #ffffff;
          text-decoration-color: #ffffff;
     
}