
.button__link{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    padding: 9px 22px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: black;
    border: 0;
    outline: 0;
    
&:hover{
    background-color: #C29974;
    
    }
    
&:active{
    background-color: #CFAF91;
   }
	@media screen and (max-width:300px){
		font-size: 14px;
        line-height: 14px;
		padding: 9px 9px;
	}
}
   .button__click{
       margin-left: 60px;
    
   @media screen and (max-width: $md) {
          margin: 0 0 0 0;
     
        }

    
}