
.button__link{
    display: -webkit-inline-box;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    padding: 9px 22px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: black;
    border: 0;
    outline: 0;
    
&:hover{
    background-color: #C29974;
    
    }
    
&:active{
    background-color: #CFAF91;
   }
}
.button__click{
    margin-left: 60px;
}